# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.photo-render.iml
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../:\NEWPhoto\photo-render\.idea\.idea.photo-render\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
